/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

form {
    text-align: center ;
    padding: 30px;
}

ul {
    list-style: none;
}

ul li,
.notodo {
    font-size: 50px;
    display: flex;
    background-color: lightgrey;
    border: 1px solid black;
    justify-content: space-between;
    padding: 0 10px;
}

ul li span {
    cursor: pointer;
}