<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!--CSS-->
        <link rel="stylesheet" href="css/style.css">
        <!--VUE-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        
        <div id="app" class="container">
            <form action=""  @submit.prevent="addTodo()">
                <input required type="text" v-model="newTodo.text" placeholder="inserisci un nuovo to do">
                <button>
                    Aggiungi
                </button>
            </form>
           

            <ul>
                <li v-for="(single, i) in todoList">
                    {{ single.text }}

                    <span @click="removeTodo(i)">X</span>
                </li>
            </ul>
        </div>

        <script src="js/script.js"></script>    
    </body>
</html>